name: Check

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@14995ce361a7c42fb9665895fd44c9483e02351d # v3.8.3
    with:
      java-version: 17
