name: Check

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@cabfc6b25aedd97f169788a9cf84a62b9e963e15 # v3.8.2
    with:
      java-version: 17
